<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>谭宝宝的电影院</title>
	<style type="text/css" media="screen">
	     body{padding: 0px;margin: 0px;background-color: #f5f7f9;overflow: scroll;}
	    div,ul,li,a,img{margin: 0;padding: 0;}
	    ul{list-style: none;}
	    a{text-decoration: none;color: black;}
		.top{padding: 0px;margin: 0px;background-color:#008ed4;}
		.top .navbar{padding: 0px;margin: 0px;}
        .top .navbar .navbar-inner{padding: 0 5px;margin: 0px;}
        .top .navbar .navbar-inner .container{overflow: hidden;}
        .top .navbar .navbar-inner .container-left{margin-left:60px;height:60px;line-height: 60px;float: left;color: white;font-size: 20px;}
        .top .navbar .navbar-inner .container-right{overflow: hidden;}
        .top .navbar .nav{list-style: none;padding: 0px;margin: 0px;}
        .top .navbar .nav .navbar-item{display: block;height:60px;line-height: 60px;float: right;padding: 5px 0;margin-right: 2px;}
        .top .navbar .nav .navbar-item:hover{background-color:#77DAE4;}
        .top .navbar .nav .navbar-item a{text-decoration: none;color: white;text-align: center;padding: 0 10px;}
        .top .navbar .nav .navbar-item a:hover{background-color:#77DAE4;}
        .top .navbar .nav .page{background-color:#77DAE4;}

		.wmessage{margin-top:210px;text-align:center;color:orange;font-size:40px;font-style:italic}
		}
		 
	</style>
	
</head>
<body>
	<div class="top">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
				    <div class="container-left">
				    	<span><em>谭宝宝的电影院</em></span>
				    </div>
					<div class="container-right">
						<ul class="nav">
							<li class="navbar-item">
								<a href="seaRch">在线购票</a>
							</li>
							<li class="navbar-item">
								<a>招聘</a>
							</li>
							<li class="navbar-item">
								<a>app</a>
							</li>
							<li class="navbar-item">
								<a>活动</a>
							</li>
							<li class="navbar-item">
								<a>影城</a>
							</li>
							<li class="navbar-item page">
								<a href="/">首页</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		<div class="search"></div>
	</div>
	

	<div class="wmessage">
		  对不起,没能找到你想要的...
	</div>

</body>
</html>
